<div class="container mt-6">
  <div class="text-right mb-3 mr-3">
    <a data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-info">اضافه کردن دیدگاه</a>
    <a *ngIf="dataSource?.Access?.AccessWatchRow"
       (click)="optionsSearch.data.hidden=!optionsSearch.data.hidden"
       class="btn btn-raised mr-1 shadow-z-2 btn-success special-search">
      <i class="fa fa-search fontavesome-small "></i>&nbsp;جستجوی پیشرفته&nbsp;&nbsp;<i
      id="filter-btn-icon"
      [className]="optionsSearch.data.hidden ? 'fa fa-toggle-off' : 'fa fa-toggle-on'"
      aria-hidden="true"></i>
    </a>
  </div>
  <div class="query-search">
    <app-cms-search-content-list [options]="optionsSearch"></app-cms-search-content-list>
    <app-cms-export-content-list></app-cms-export-content-list>
    <app-cms-statist-content-list></app-cms-statist-content-list>
  </div>
  <div class="card-body py-0">
    <div *ngIf="dataSource" class="table-responsive border-top">


      <table mat-table
             [dataSource]="dataSource.ListItems" multiTemplateDataRows
             class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-description">
                <div (click)="flag = !flag">
                  <div class="cursor-pointer" *ngIf="!flag">
                    {{element.Comment}}
                  </div>

                  <a *ngIf="flag" class="d-block btn btn-secondary">نمایش دیدگاه</a>
                </div>

                <div class="d-flex" *ngIf="flag">
                  <mat-form-field floatLabel="never">
                    <textarea class="resize-none" matInput placeholder="دیدگاه" [value]="element.Comment"
                              [(ngModel)]="element.Comment"></textarea>
                  </mat-form-field>
                  <div class="comment-edit">
                    <button (click)="onClickEditComment(element)" class="btn btn-outline-primary">ویرایش</button>
                  </div>
                </div>

              </div>

            </div>

          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">دیدگاه</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-right">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">اظهار نظر</label>
          <textarea [(ngModel)]="comment" name="comment" class="form-control resize-none"
                    id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
          <input [(ngModel)]="author" name="author" type="text" class="form-control" id="exampleInputEmail1"
                 aria-describedby="emailHelp" placeholder="نام نویسنده">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">لفو</button>
        <button (click)="onClickAddComment()" type="button" class="btn btn-primary">اصافه کردن</button>
      </div>
    </div>
  </div>
</div>
