<span class="ml-3" *ngIf="(loadingStatus)">Loding ...</span>
<div class="card-content" *ngIf="!(loadingStatus)" style="direction: rtl">
  <div class="px-3">

    <form (ngSubmit)="onFormSubmit()" #vform="ngForm" class="form form-horizontal">

      <div class="form-body">
        <h4 class="form-section text-right mb-8"><i class="ft-user"></i> اطلاعات الزامی</h4>

        <div class="form-group row">
          <label class="col-md-3 label-control" for="Title">عنوان : </label>
          <div class="col-md-9">
            <input [(ngModel)]="dataModel.Title" type="text" class="form-control" name="Title" #Title="ngModel" required
              minlength="5" maxlength="50" placeholder="عنوان" />
            <small class="form-text text-muted danger text-right" *ngIf="Title.errors?.required"> الزامی</small>
            <small class="form-text text-muted danger" *ngIf="Title.errors?.minlength"> حداقل پنج
              کاراکتر</small>
            <small class="form-text text-muted danger" *ngIf="Title.errors?.maxlength"> حداکثر پنجاه
              کاراکتر</small>
          </div>
        </div>


        <div class="form-group row">
          <label class="col-md-3 label-control" for="Status">وضعیت:</label>
          <div class="col-md-9">
            <fieldset class="form-group">
              <select [(ngModel)]="dataModel.RecordStatus" name="RecordStatus" #RecordStatus="ngModel" required
                class="form-control">
                <option *ngFor="let item of dataModelEnumRecordStatusResult.ListItems; index as i;"
                  value="{{item.Value}}">
                  {{item.Key}}</option>
              </select>
              <small class="form-text text-muted danger text-right" *ngIf="RecordStatus.errors?.required">
                الزامی</small>
            </fieldset>
          </div>
        </div>


        <div class="form-group row">
          <label class="col-md-3 label-control" for="Description">توضیحات : </label>
          <div class="col-md-9">
            <textarea [(ngModel)]="dataModel.Description" name="Description" #Description="ngModel" rows="5"
              class="form-control"></textarea>
            <small class="form-text text-muted danger text-right" *ngIf="Description.errors?.required"> الزامی</small>

          </div>
        </div>


        <h4 class="form-section text-right mb-5"><i class="ft-file-text"></i> اطلاعات تکمیلی</h4>

        <div class="form-group row">
          <label class="col-md-3 label-control" for="projectinput5">فایل آیکن : </label>
          <div class="col-md-9">
            <input type="text" id="projectinput5" class="form-control" name="company">
          </div>
        </div>

      </div>

      <div class="form-actions">
        <small class="form-text text-muted ">{{formInfo.FormAlert}} </small>
        <small class="form-text text-muted danger">{{formInfo.FormError}} </small>
      </div>
      <div class="form-actions" *ngIf="formInfo.FormAllowSubmit">

        <button type="button" (click)="onFormCancel()" class="btn btn-raised btn-warning mr-1">
          <i class="ft-x"></i> انصراف
        </button>
        <button type="submit" class="btn btn-raised btn-primary" [disabled]="!vform.form.valid">
          <i class="fa fa-check-square-o"></i> ذخیره
        </button>

      </div>
    </form>
  </div>
</div>
