<section id="horizontal-form-layouts" dir="rtl">
  <div class="row text-right">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header pb-2">
          <h4 class="card-title" id="horz-layout-basic">حذف دسته بندی</h4>
          <p class="mb-0">
            قبل از حذف دسته بندی باید شما اطلاعات زیر مجموعه را به شاخه دیگر ویرایش کنید
          </p>
        </div>
        <div class="card-content">
          <div class="px-3">

            <form #vform="ngForm" class="form form-horizontal">

              <div *ngIf="dataModelResultCategory.Status>0 && dataModelResultCategory.IsSuccess" class="form-body">
                <h4 class="form-section"><i class="ft-user"></i>مشخصات این دسته بندی</h4>

                <div class="form-group row">
                  <label class="col-md-3 label-control" for="Title">عنوان : </label>
                  <div class="col-md-9">
                    <input [(ngModel)]="dataModelResultCategory.Item.Title" type="text" class="form-control" name="Title"
                      readonly />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="Description">توضیحات : </label>
                  <div class="col-md-9">
                    <textarea [(ngModel)]="dataModelResultCategory.Item.Description" name="Description"
                      #Description="ngModel" rows="5" class="form-control" readonly></textarea>


                  </div>
                </div>
              </div>
              <div *ngIf="dataModelResultCategoryAllData.Status>0 && dataModelResultCategoryAllData.IsSuccess" class="form-body">
                <h4 class="form-section"><i class="ft-file-text"></i> مشخصات دسته بندی جایگزین</h4>

                <div class="form-group row">
                  <label class="col-md-3 label-control" for="Status">عنوان دسته بندی:</label>
                  <div class="col-md-9">
                    <fieldset class="form-group">
                      <select [(ngModel)]="dataModel.NewCatId" name="NewCatId" #RecordStatus="ngModel" (change)="onFormChangeNewCatId()" required
                        class="form-control">
                        <option *ngFor="let item of dataModelResultCategoryAllData.ListItems; index as i;"
                          value="{{item.Id}}">
                          {{item.Title}}</option>
                      </select>
                      <small class="form-text text-muted danger" *ngIf="RecordStatus.errors?.required">
                        الزامی</small>
                    </fieldset>
                  </div>
                </div>
              </div>
              <div class="form-actions">
                <small class="form-text text-muted ">{{formInfo.FormAlert}} </small>
                <small class="form-text text-muted danger">{{formInfo.FormError}} </small>
              </div>
              <div class="form-actions" *ngIf="formInfo.FormAllowSubmit">

                <button type="button" (click)="onFormMove()" [disabled]="!vform.form.valid || formInfo.DisabledButtonSubmitted"
                  class="btn btn-raised btn-primary">
                  <i class="ft-x"></i> جابجای اطلاعات
                </button>
                <button type="button" (click)="onFormDelete()" [disabled]="!vform.form.valid || formInfo.DisabledButtonSubmitted"
                  class="btn btn-raised btn-warning mr-1">
                  <i class="fa fa-check-square-o"></i> حذف
                </button>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
