<div class="card-content">
  <div class="card-body" *ngIf="data">

    <ngx-datatable
            #tableContent
            class="bootstrap"
            [rows]="data.ListItems"
            [columns]="columnsContent"
            [columnMode]="columnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            rowHeight="auto"
            [externalPaging]="true"
            [count]="data.TotalRowCount"
            [offset]="data.CurrentPageNumber-1"
            [limit]="data.RowPerPage"
            [loadingIndicator]="tableContentloading"
            [externalSorting]="true"
            [sortType]="'single'"
            [selected]="tableContentSelected"
            [selectionType]="selectionType.single"
             style="cursor: pointer">
    </ngx-datatable>
    <hr>

  </div>
</div>
