<section>
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="content-header">شرکت های پیام کوتاه</div>
        </div>
    </div>
    <div class="row text-left" matchHeight="card">

        <!--Content-->
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">لیست شرکت ها </h4>
                    <hr>
                    <div>

                        <a *ngIf="dataModelResult?.Access?.AccessAddRow " (click)="onActionbuttonNewRow()"
                            class="btn btn-raised mr-1 shadow-z-2 btn-info">جدید</a>
                        <a *ngIf="dataModelResult?.Access?.AccessEditRow && tableContentSelected?.length>0"
                            (click)="onActionbuttonEditRow()"
                            class="btn btn-raised mr-1 shadow-z-2 btn-warning">ویرایش</a>
                        <a *ngIf="dataModelResult?.Access?.AccessDeleteRow && tableContentSelected?.length>0"
                            (click)="onActionbuttonDeleteRow()"
                            class="btn btn-raised mr-1 shadow-z-2 btn-danger">حذف</a>




                        <a *ngIf="dataModelResult?.Access?.AccessWatchRow"
                            (click)="optionsSearch.data.hidden=!optionsSearch.data.hidden"
                            class="btn btn-raised mr-1 shadow-z-2 btn-success">
                            <i class="fa fa-search fontavesome-small"></i>&nbsp;جستجوی پیشرفته&nbsp;&nbsp;<i
                                id="filter-btn-icon"
                                [className]="optionsSearch.data.hidden ? 'fa fa-toggle-off' : 'fa fa-toggle-on'"
                                aria-hidden="true"></i>
                        </a>


                        <a (click)="onActionbuttonStatus()" class="btn btn-raised mr-1 shadow-z-2 btn-secondary">آمار
                        </a>
                        <a (click)="onActionbuttonExport()" class="btn btn-raised mr-1 shadow-z-2 btn-primary">خروجی
                            فایل</a>
                        <a (click)="onActionbuttonReload()" class="btn btn-raised mr-1 shadow-z-2 btn-success">بررسی
                            مجدد</a>

                    </div>

                    <app-cms-search-content-list [options]="optionsSearch"></app-cms-search-content-list>
                    <app-cms-export-content-list></app-cms-export-content-list>
                    <app-cms-statist-content-list></app-cms-statist-content-list>
                    <hr>
                </div>

                <div class="card-content">
                    <span class="ml-3" *ngIf="(loadingStatus)">Loding ...</span>
                    <div class="card-body" *ngIf="!(loadingStatus)">

                        <ngx-datatable
                            #tableContent
                            class="bootstrap"
                            [rows]="dataModelResult.ListItems"
                            [columns]="columnsContent"
                            [columnMode]="columnMode.force"
                            [headerHeight]="50"
                            [footerHeight]="50"
                            rowHeight="auto"
                            [externalPaging]="true"
                            [count]="dataModelResult.TotalRowCount"
                            [offset]="dataModelResult.CurrentPageNumber-1"
                            [limit]="dataModelResult.RowPerPage"
                            [loadingIndicator]="tableContentloading"
                            [externalSorting]="true"
                            [sortType]="'single'"
                            [selected]="tableContentSelected"
                            [selectionType]="selectionType.single"
                            (page)="onActionSetPage($event)"
                            (sort)="onActionSort($event)"
                            (select)="onActionSelect($event)" style="cursor: pointer">
                        </ngx-datatable>
                        <hr>

                    </div>
                </div>
            </div>
        </div>
        <!--Content-->
    </div>
</section>
<!--Modal starts-->
<ng-template #contentContentAdd let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">جدید</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <p>
            <app-sms-main-api-path-company-add></app-sms-main-api-path-company-add>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">بستن</button>
    </div>
</ng-template>
<!--Modal ends-->
<!--Modal starts-->
<ng-template #contentContentEdit let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">ویرایش</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <p>
            <app-sms-main-api-path-company-edit [options]="{id:this.tableContentSelected[0].Id}">
            </app-sms-main-api-path-company-edit>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">بستن</button>
    </div>
</ng-template>
<!--Modal ends-->
