<section>
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="content-header">مسیر های پیام کوتاه</div>
        </div>
    </div>
    <div class="row text-left" matchHeight="card">
        <!--Category-->
        <div class="col-md-2 col-lg-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        شرکت ها
                    </h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <app-sms-main-api-path-company-select [options]="optionsCategorySelect">
                        </app-sms-main-api-path-company-select>
                        <hr>
                        <p>
                            <a (click)='onActionCategorySelect(model)'
                                *ngIf="optionsCategorySelect?.data && optionsCategorySelect?.data?.SelectId>0"
                                class="btn btn-raised mr-1 shadow-z-2 btn-success">همه</a> |
                            <a (click)="openModal(contentCategoryAdd)"
                                class="btn btn-raised mr-1 shadow-z-2 btn-info">اضافه</a>




                            <a (click)="openModal(contentCategoryEdit)"
                                *ngIf="optionsCategorySelect?.data && optionsCategorySelect?.data?.SelectId>0"
                                class="btn btn-raised mr-1 shadow-z-2 btn-warning">ویرایش</a> |
                            <a (click)="openModal(contentCategoryDelete)"
                                *ngIf="optionsCategorySelect?.data && optionsCategorySelect?.data?.SelectId>0"
                                class="btn btn-raised mr-1 shadow-z-2 btn-danger">حذف</a>
                        </p>
                        <p>عمل : {{closeResult}}</p>



                    </div>
                </div>
            </div>
        </div>
        <!--Category-->
        <!--Content-->
        <div class="col-md-10 col-lg-10">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">لیست مسیرها <span
                            *ngIf="optionsCategorySelect.data &&
                            optionsCategorySelect?.data?.SelectId>0">({{optionsCategorySelect.data && optionsCategorySelect?.data?.Select?.Title}})</span>
                    </h4>
                    <hr>
                    <div>

                        <a *ngIf="dataModelResult?.Access?.AccessAddRow && optionsCategorySelect?.data?.Select"
                            (click)="onActionbuttonNewRow()" class="btn btn-raised mr-1 shadow-z-2 btn-info">جدید</a>
                        <a *ngIf="dataModelResult?.Access?.AccessEditRow && tableContentSelected?.length>0"
                            (click)="onActionbuttonEditRow()"
                            class="btn btn-raised mr-1 shadow-z-2 btn-warning">ویرایش</a>
                        <a *ngIf="dataModelResult?.Access?.AccessDeleteRow && tableContentSelected?.length>0"
                            (click)="onActionbuttonDeleteRow()"
                            class="btn btn-raised mr-1 shadow-z-2 btn-danger">حذف</a>
                        <a *ngIf="dataModelResult?.Access?.AccessDeleteRow && tableContentSelected?.length>0"
                            (click)="onActionbuttonDeleteRow()"
                            class="btn btn-raised mr-1 shadow-z-2 btn-danger">جستجو</a>

                        <a *ngIf="dataModelResult?.Access?.AccessDeleteRow && tableContentSelected?.length>0"
                           (click)="goToApiPathSuperSide()"
                           class="btn btn-raised mr-1 shadow-z-2 btn-danger">SuperSide</a>


                        <a *ngIf="dataModelResult?.Access?.AccessWatchRow"
                            (click)="optionsSearch.data.hidden=!optionsSearch.data.hidden"
                            class="btn btn-raised mr-1 shadow-z-2 btn-success">
                            <i class="fa fa-search fontavesome-small"></i>&nbsp;جستجوی پیشرفته&nbsp;&nbsp;<i
                                id="filter-btn-icon"
                                [className]="optionsSearch.data.hidden ? 'fa fa-toggle-off' : 'fa fa-toggle-on'"
                                aria-hidden="true"></i>
                        </a>
                        <a (click)="onActionbuttonStatus()" class="btn btn-raised mr-1 shadow-z-2 btn-secondary">آمار
                        </a>
                        <a (click)="onActionbuttonExport()" class="btn btn-raised mr-1 shadow-z-2 btn-primary">خروجی
                            فایل</a>
                        <a (click)="onActionbuttonReload()" class="btn btn-raised mr-1 shadow-z-2 btn-success">بررسی
                            مجدد</a>

                    </div>

                    <app-cms-search-content-list [options]="optionsSearch"></app-cms-search-content-list>
                    <app-cms-export-content-list></app-cms-export-content-list>
                    <app-cms-statist-content-list></app-cms-statist-content-list>
                    <hr>
                </div>

                <div class="card-content">
                    <span class="ml-3" *ngIf="(loadingStatus)">Loding ...</span>
                    <div class="card-body" *ngIf="!(loadingStatus)">



                        <ngx-datatable #tableContent class="bootstrap" [rows]="dataModelResult.ListItems"
                            [columns]="columnsContent" [columnMode]="columnMode.force" [headerHeight]="50"
                            [footerHeight]="50" rowHeight="auto" [externalPaging]="true"
                            [count]="dataModelResult.TotalRowCount" [offset]="dataModelResult.CurrentPageNumber-1"
                            [limit]="dataModelResult.RowPerPage" [loadingIndicator]="tableContentloading"
                            [externalSorting]="true" [sortType]="'single'" [selected]="tableContentSelected"
                            [selectionType]="selectionType.single" (page)="onActionSetPage($event)"
                            (sort)="onActionSort($event)" (select)="onActionSelect($event)" style="cursor: pointer">

                        </ngx-datatable>





                        <hr>

                    </div>
                </div>
            </div>
        </div>
        <!--Content-->
    </div>
</section>
<!--Modal starts-->
<ng-template #contentCategoryEdit let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">ویرایش</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            <app-sms-main-api-path-company-edit [options]="{id:optionsCategorySelect?.data?.SelectId}">
            </app-sms-main-api-path-company-edit>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">بستن</button>
    </div>
</ng-template>
<!--Modal ends-->
<!--Modal starts-->
<ng-template #contentCategoryDelete let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">حذف</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            <app-sms-main-api-path-company-delete [options]="{id:optionsCategorySelect?.data?.SelectId}">
            </app-sms-main-api-path-company-delete>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">بستن</button>
    </div>
</ng-template>
<!--Modal ends-->
<!--Modal starts-->
<ng-template #contentCategoryAdd let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">جدید</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            <app-sms-main-api-path-company-add [options]="{parentId:optionsCategorySelect?.data?.SelectId}">
            </app-sms-main-api-path-company-add>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">بستن</button>
    </div>
</ng-template>
<!--Modal ends-->
<!--Modal starts-->
<ng-template #contentContentAdd let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">جدید</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            <app-sms-main-api-path-add [options]="{linkCategoryId:optionsCategorySelect?.data?.SelectId}">
            </app-sms-main-api-path-add>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">بستن</button>
    </div>
</ng-template>
<!--Modal ends-->
<!--Modal starts-->
<ng-template #contentContentEdit let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">ویرایش</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            <app-sms-main-api-path-edit [options]="{id:this.tableContentSelected[0].id}"></app-sms-main-api-path-edit>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">بستن</button>
    </div>
</ng-template>
<!--Modal ends-->
