<section id="horizontal-form-layouts" dir="rtl">
  <div class="row text-right">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header pb-2">
                  <h4 class="card-title" id="horz-layout-basic">ویرایش مسیر</h4>
                  <p class="mb-0">
                    <span class="ml-3" *ngIf="(loadingStatus)">Loding ...</span>
                  </p>
              </div>
              <div class="card-content">
                  <div class="px-3"  *ngIf="!(loadingStatus)">

                      <form (ngSubmit)="onFormSubmit()" #vform="ngForm" class="form form-horizontal">

                        <ngb-tabset [justify]="'fill'">
                            <ngb-tab >
                                <ng-template ngbTabTitle>اطلاعات الزامی</ng-template>
                              <ng-template ngbTabContent>
                                <h4 class="form-section"><i class="ft-user"></i> اطلاعات الزامی</h4>

                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="Title">عنوان : </label>
                                    <div class="col-md-9">
                                        <input [(ngModel)]="dataModel.Title" id="Title" type="text" class="form-control" name="Title" #Title="ngModel" required minlength="5" maxlength="50" placeholder="عنوان" />
                                        <small class="form-text text-muted danger" *ngIf="Title.errors?.required"> الزامی</small>
                                        <small class="form-text text-muted danger" *ngIf="Title.errors?.minlength"> حداقل پنج
                                            کاراکتر</small>
                                        <small class="form-text text-muted danger" *ngIf="Title.errors?.maxlength"> حداکثر پنجاه
                                            کاراکتر</small>
                                    </div>
                                </div>
  
  
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="Status">وضعیت:</label>
                                    <div class="col-md-9">
                                        <fieldset class="form-group">
                                            <select [(ngModel)]="dataModel.RecordStatus" id="Status" name="RecordStatus" #RecordStatus="ngModel" required class="form-control">
                                                <option *ngFor="let item of dataModelEnumRecordStatusResult.ListItems; index as i;" value="{{item.Value}}">
                                                    {{item.Key}}</option>
                                            </select>
                                            <small class="form-text text-muted danger" *ngIf="RecordStatus.errors?.required">
                                                الزامی</small>
                                        </fieldset>
                                    </div>
                                </div>
  
  
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="Description">توضیحات : </label>
                                    <div class="col-md-9">
                                        <textarea [(ngModel)]="dataModel.Description" id="Description" name="Description" #Description="ngModel" rows="5" class="form-control"></textarea>
                                        <small class="form-text text-muted danger" *ngIf="Description.errors?.required"> الزامی</small>
  
                                    </div>
                                </div>
                              </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                              <ng-template ngbTabTitle>دسترسی های</ng-template>
                              <ng-template ngbTabContent>
                                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                  چاپگرها و
                                  متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                  کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              
                                </p>
                              </ng-template>
                            </ngb-tab>
                            <ngb-tab >
                              <ng-template ngbTabTitle>مالی</ng-template>

                              <ng-template ngbTabContent>
                                <p>
                                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                                  و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                  کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                </p>
                              </ng-template>
                            </ngb-tab>
                            <ngb-tab >
                              <ng-template ngbTabTitle>ارسال</ng-template>

                              <ng-template ngbTabContent>
                                <p>
                                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                                  و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                  کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                </p>
                              </ng-template>
                            </ngb-tab>
                            <ngb-tab >
                              <ng-template ngbTabTitle>دریافت</ng-template>

                              <ng-template ngbTabContent>
                                <p>
                                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                                  و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                  کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                </p>
                              </ng-template>
                            </ngb-tab>
                            <ngb-tab >
                              <ng-template ngbTabTitle>وضعیت ارسال</ng-template>

                              <ng-template ngbTabContent>
                                <p>
                                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                                  و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                  کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                </p>
                              </ng-template>
                            </ngb-tab>
                            <ngb-tab >
                              <ng-template ngbTabTitle>تنظیمات</ng-template>

                              <ng-template ngbTabContent>
                                <p>
                                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                                  و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                  کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                </p>
                              </ng-template>
                            </ngb-tab>
                          </ngb-tabset>





                          <div class="form-actions">
                              <small class="form-text text-muted ">{{formInfo.FormAlert}} </small>
                              <small class="form-text text-muted danger">{{formInfo.FormError}} </small>
                          </div>
                          <div class="form-actions" *ngIf="formInfo.FormAllowSubmit">

                              <button type="button" (click)="onFormCancel()" class="btn btn-raised btn-warning mr-1">
                                  <i class="ft-x"></i> انصراف
                              </button>
                              <button type="submit" class="btn btn-raised btn-primary" [disabled]="!vform.form.valid">
                                  <i class="fa fa-check-square-o"></i> ذخیره
                              </button>

                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
